# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project Specific
.gemini/
extract_sample.py
*.txt

# Large Data
# hygdata_v42.csv
